# Ignore the application.properties file to avoid pushing sensitive data
src/main/resources/application.properties

# Ignore IDE and build files
*.class
*.log
target/
*.jar
*.war

# Ignore Maven and Eclipse files
.mvn/
*.iml
.idea/
*.classpath
*.project
*.settings/

# Ignore OS-specific files
.DS_Store
Thumbs.db
